body {
  background-color: #36393e;
}

h1 {
  color: #ffffff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#canvas {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
