html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: #c2de59 url(../images/bg.jpg) no-repeat center bottom fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.wrap {
  background: #fffaed;
  width: 350px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(#333333, 0.5);
  padding: 15px;

  h1 {
    margin: 15px 0 30px;
    color: #34495e;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 2em;
  }

  .server-info {
    input[type="text"],
    input[type="number"],
    button {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 25px;
      height: 40px;
      border-radius: 5px;
      outline: 0;
      -moz-outline-style: none;
    }

    input[type="text"],
    input[type="number"] {
      border: 1px solid #bbbbbb;
      padding: 0 0 0 10px;
      font-size: 14px;
      &:focus {
        border: 1px solid #bfe3e0;
      }
    }

    button {
      background: #f28259;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 200;
      cursor: pointer;
      transition: box-shadow .4s ease;

      &:hover {
        box-shadow: 1px 1px 5px rgba(#555555, 0.5);
      }

      &:active {
        box-shadow: 1px 1px 7px rgba(#222222, 0.5);
      }

    }

  }
}
